<html>
  <head>
    <meta charset="utf-8"/>
    <style id="switchcss"></style>
    <style id="joystickcss"></style>
    <style id="ulaunchcss"></style>
    <script src="./ui.js"></script>
  </head>
  <body>
    <div id="switch"></div>
    <div class="center"></div>
    <div class="drag"></div>
  </body>
</html>
