.joystickbg {
  position: absolute;
  top: <%- getHeight(20) %>;
  left: <%- getWidth(-20) %>;
  border-radius: <%- getHeight(120) %>px;
  outline: none;
  background-color: #464646;
  border: none;
  width: <%- getWidth(120) %>;
  height: <%- getHeight(120) %>;
}
.joystick {
  position: absolute;
  top: 0;
  left: 0;
  border: <%- getHeight(5) %>px solid;
  border-color: #262626;
  outline: none;
  border-radius: <%- getHeight(120) %>px;
  background-color: #464646;
  width: <%- getWidth(120) %>;
  height: <%- getHeight(120) %>;
}
.joysticks {
  position: absolute;
  top: <%- getHeight(10) %>;
  left: <%- getWidth(10) %>;
  border: <%- getHeight(5) %>px solid;
  border-color: #262626;
  border-radius: <%- getHeight(120) %>px;
  outline: none;
  background-color: #464646;
  width: <%- getWidth(100) %>;
  height: <%- getHeight(100) %>;
}
.barleft {
  position: absolute;
  top: <%- getHeight(54) %>;
  left: <%- getWidth(107.5) %>;
  border: none;
  outline: none;
  background-color: #262626;
  width: <%- getWidth(5) %>;
  height: <%- getHeight(13) %>;
}
.barright {
  position: absolute;
  top: <%- getHeight(54) %>;
  left: <%- getWidth(1.5) %>;
  border: none;
  outline: none;
  background-color: #262626;
  width: <%- getWidth(7) %>;
  height: <%- getHeight(13) %>;
}
.bartop {
  position: absolute;
  top: <%- getHeight(4) %>;
  left: <%- getWidth(53.5) %>;
  border: none;
  outline: none;
  background-color: #262626;
  width: <%- getWidth(14) %>;
  height: <%- getHeight(7) %>;
}
.barbottom {
  position: absolute;
  top: <%- getHeight(109) %>;
  left: <%- getWidth(53.5) %>;
  border: none;
  outline: none;
  background-color: #262626;
  width: <%- getWidth(14) %>;
  height: <%- getHeight(7) %>;
}
.top {
  position: absolute;
  top: <%- getHeight(20) %>;
  left: <%- getWidth(20) %>;
  border: none;
  outline: none;
  background-color: transparent;
  width: <%- getWidth(40) %>;
  height: <%- getHeight(40) %>;
}
.topleft {
  position: absolute;
  top: <%- getHeight(20) %>;
  left: <%- getWidth(-20) %>;
  border: none;
  outline: none;
  background-color: transparent;
  width: <%- getWidth(40) %>;
  height: <%- getHeight(40) %>;
}
.left {
  position: absolute;
  top: <%- getHeight(60) %>;
  left: <%- getWidth(-20) %>;
  border: none;
  outline: none;
  background-color: transparent;
  width: <%- getWidth(40) %>;
  height: <%- getHeight(40) %>;
}
.leftbottom {
  position: absolute;
  top: <%- getHeight(100) %>;
  left: <%- getWidth(-20) %>;
  border: none;
  outline: none;
  background-color: transparent;
  width: <%- getWidth(40) %>;
  height: <%- getHeight(40) %>;
}
.bottom {
  position: absolute;
  top: <%- getHeight(100) %>;
  left: <%- getWidth(20) %>;
  border: none;
  outline: none;
  background-color: transparent;
  width: <%- getWidth(40) %>;
  height: <%- getHeight(40) %>;
}
.bottomright {
  position: absolute;
  top: <%- getHeight(100) %>;
  left: <%- getWidth(60) %>;
  border: none;
  outline: none;
  background-color: transparent;
  width: <%- getWidth(40) %>;
  height: <%- getHeight(40) %>;
}
.right {
  position: absolute;
  top: <%- getHeight(60) %>;
  left: <%- getWidth(60) %>;
  border: none;
  outline: none;
  background-color: transparent;
  width: <%- getWidth(40) %>;
  height: <%- getHeight(40) %>;
}
.righttop {
  position: absolute;
  top: <%- getHeight(20) %>;
  left: <%- getWidth(60) %>;
  border: none;
  outline: none;
  background-color: transparent;
  width: <%- getWidth(40) %>;
  height: <%- getHeight(40) %>;
}
