@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  src: url('<%- path.join(__dirname, "switch", "OpenSans.ttf").replace(/\\/g, "/") %>');
}

.drag {
  width: <%- getWidth(1340) %>;
  height: <%- getHeight(30) %>;
  position: absolute;
  top: <%- getHeight(10) %>;
  left: <%- getWidth(235) %>;
  -webkit-app-region: drag;
}

.center {
  margin: auto;
  position: fixed;
  background-color: #181818;
  width: <%- getWidth(1280) %>;
  height: <%- getHeight(720) %>;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.switchback {
  background-color: #323538;
  border: 0px;
  position: absolute;
  top: <%- getHeight(10) %>;
  left: <%- getWidth(10) %>;
  border-radius: <%- getHeight(100) %>px;
  outline: none;
  width: <%- getWidth(1790) %>;
  height: <%- getHeight(780) %>;
}

.joyconr {
  background-color: #ff4554;
  border: 0px;
  position: absolute;
  top: <%- getHeight(10) %>;
  right: <%- getWidth(10) %>;
  border-top-right-radius: <%- getHeight(100) %>px;
  border-bottom-right-radius: <%- getHeight(100) %>px;
  outline: none;
  width: <%- getWidth(225) %>;
  height: <%- getHeight(780) %>;
}

.joyconl {
  background-color: #00c3e3;
  border: 0px;
  position: absolute;
  top: <%- getHeight(10) %>;
  left: <%- getWidth(10) %>;
  border-top-left-radius: <%- getHeight(100) %>px;
  border-bottom-left-radius: <%- getHeight(100) %>px;
  outline: none;
  width: <%- getWidth(225) %>;
  height: <%- getHeight(780) %>;
}

.minus {
  position: absolute;
  top: <%- getHeight(65) %>;
  left: <%- getWidth(159) %>;
  background-color: #464646;
  border-color: #262626;
  width: <%- getWidth(46) %>;
  outline: none;
  border-radius: <%- getHeight(1) %>px;
  height: <%- getHeight(16) %>;
}

.plus {
  position: absolute;
  top: <%- getHeight(15) %>;
  left: 0;
  background-color: #464646;
  border-color: #262626;
  outline: none;
  width: <%- getWidth(46) %>;
  border-radius: <%- getHeight(1) %>px;
  height: <%- getHeight(16) %>;
}

.pluss {
  position: absolute;
  top: 0;
  left: <%- getWidth(15) %>;
  background-color: #464646;
  border-color: #262626;
  outline: none;
  border-radius: <%- getHeight(1) %>px;
  width: <%- getWidth(16) %>;
  height: <%- getHeight(46) %>;
}

.plusss {
  position: absolute;
  top: <%- getHeight(17) %>;
  left: <%- getWidth(15) %>;
  outline: none;
  background-color: #464646;
  border: none;
  width: <%- getWidth(20) %>;
  height: <%- getHeight(12) %>;
}

.btnround {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  outline: none;
  background-color: #464646;
  border: <%- getHeight(2.5) %>px solid;
  border-color: #262626;
  border-radius: 100%;
  width: <%- getWidth(60) %>;
  height: <%- getHeight(60) %>;
}

.transparentbtnround {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  outline: none;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  width: <%- getWidth(60) %>;
  height: <%- getHeight(60) %>;
}

.arrowup {
  position: absolute;
  top: <%- getHeight(8.5) %>;
  left: <%- getWidth(12.5) %>;
}

.arrowleft {
  position: absolute;
  top: <%- getHeight(15.25) %>;
  left: <%- getWidth(7.5) %>;
}

.arrowbottom {
  position: absolute;
  top: <%- getHeight(19.5) %>;
  left: <%- getWidth(15.5) %>;
}

.arrowright {
  position: absolute;
  top: <%- getHeight(11.5) %>;
  left: <%- getWidth(20) %>;
}

.capturebg {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  background-color: #464646;
  border: <%- getHeight(2.5) %>px solid;
  border-color: #262626;
  cursor: default;
  border-radius: <%- getHeight(8.5) %>px;
  width: <%- getWidth(42) %>;
  height: <%- getHeight(42) %>;
}

.capture {
  position: absolute;
  top: <%- getHeight(7) %>;
  left: <%- getWidth(7) %>;
  cursor: default;
  outline: none;
  background-color: #464646;
  border: <%- getHeight(1.5) %>px solid;
  border-color: #262626;
  border-radius: <%- getHeight(8.5) %>px;
  width: <%- getWidth(28) %>;
  height: <%- getHeight(28) %>;
}

.lbtn {
  position: absolute;
  top: <%- getHeight(2.5) %>;
  left: <%- getWidth(12.5) %>;
  outline: none;
  background-color: #464646;
  border: <%- getHeight(2) %>px solid;
  border-color: #262626;
  border-radius: <%- getHeight(20) %>px;
  border-top-left-radius: <%- getHeight(260) %>px;
  width: <%- getWidth(180) %>;
  height: <%- getHeight(75) %>;
}

.switchbtntxt {
  position: absolute;
  top: 50%;
  user-select: none;
  margin: 0px 0px;
  padding: 0px;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: default;
  color: #fff;
  font-size: <%- getHeight(42.5) %>;
  font-family: 'OpenSans';
  background-color: transparent;
}

.homebg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  outline: none;
  background-color: #646464;
  border: <%- getHeight(2) %>px solid;
  border-color: #262626;
  border-radius: <%- getHeight(42) %>px;
  width: <%- getWidth(42) %>;
  height: <%- getHeight(42) %>;
}

.home {
  position: absolute;
  top: <%- getHeight(7) %>;
  left: <%- getWidth(7) %>;
  outline: none;
  background-color: #464646;
  border: <%- getHeight(1) %>px solid;
  border-color: #262626;
  border-radius: <%- getHeight(28) %>px;
  width: <%- getWidth(28) %>;
  height: <%- getHeight(28) %>;
}

.homesvg {
  position: absolute;
  z-index: 1;
  top: <%- getHeight(8.5) %>;
  left: <%- getWidth(8.5) %>;
}

.homebar {
  position: absolute;
  top: <%- getHeight(20) %>;
  left: <%- getWidth(14) %>;
  outline: none;
  background-color: #000;
  border: none;
  width: <%- getWidth(5) %>;
  height: <%- getHeight(9) %>;
}

.homebars {
  position: absolute;
  top: <%- getHeight(20) %>;
  left: <%- getWidth(23) %>;
  outline: none;
  background-color: #000;
  border: none;
  width: <%- getWidth(5) %>;
  height: <%- getHeight(9) %>;
}

.homebarss {
  position: absolute;
  top: <%- getHeight(25) %>;
  left: <%- getWidth(18) %>;
  outline: none;
  background-color: #000;
  border: none;
  width: <%- getWidth(9) %>;
  height: <%- getHeight(4) %>;
}

.rbtn {
  position: absolute;
  top: <%- getHeight(2.5) %>;
  left: <%- getWidth(1616.5) %>;
  outline: none;
  background-color: #464646;
  border: <%- getHeight(2) %>px solid;
  border-color: #262626;
  border-radius: <%- getHeight(20) %>px;
  border-top-right-radius: <%- getHeight(260) %>px;
  width: <%- getWidth(180) %>;
  height: <%- getHeight(75) %>;
}

.volp {
  position: absolute;
  outline: none;
  border: none;
  border-top: <%- getHeight(2) %>px solid;
  border-left: <%- getHeight(2) %>px solid;
  border-right: <%- getHeight(2) %>px solid;
  border-color: #262626;
  border-top-right-radius: <%- getHeight(2) %>px;
  background-color: #595959;
  top: 0;
  left: <%- getWidth(60) %>;
  height: <%- getHeight(5) %>;
  width: <%- getWidth(30) %>;
}

.volbar {
  position: absolute;
  outline: none;
  border: none;
  border-top: <%- getHeight(2) %>px solid;
  border-color: #262626;
  background-color: #595959;
  top: <%- getHeight(1) %>;
  left: <%- getWidth(30) %>;
  height: <%- getHeight(1) %>;
  width: <%- getWidth(30) %>;
}

.volm {
  position: absolute;
  outline: none;
  border: none;
  border-top: <%- getHeight(2) %>px solid;
  border-left: <%- getHeight(2) %>px solid;
  border-right: <%- getHeight(2) %>px solid;
  border-color: #262626;
  border-top-right-radius: <%- getHeight(2) %>px;
  background-color: #595959;
  top: 0;
  left: 0;
  height: <%- getHeight(5) %>;
  width: <%- getWidth(30) %>;
}

.power {
  position: absolute;
  outline: none;
  border: none;
  border-top: <%- getHeight(2) %>px solid;
  border-left: <%- getHeight(2) %>px solid;
  border-right: <%- getHeight(2) %>px solid;
  border-top-left-radius: <%- getHeight(2) %>px;
  border-top-right-radius: <%- getHeight(2) %>px;
  border-color: #262626;
  background-color: #595959;
  top: <%- getHeight(6) %>;
  left: <%- getWidth(265) %>;
  height: <%- getHeight(2.5) %>;
  width: <%- getWidth(30) %>;
}
