<div style="background-color: #000000;z-index:99;position:absolute;top:0;left:0;width:1280;height:720;opacity:0.5" id="dialog">
    <%
      let html = "";
      let opts = ["TEST", 0];
      let hasCancel = true;
      let title = "Je test ok";
      let content = "Je test tjr donc laisse moi trkl";
      let icon = undefined;
      if(hasCancel) opts.push(["Cancel", opts.length]);
      if(opts.length !== 0){
        let dw = (20 * (opts.length - 1)) + 250;
        for(s32 i = 0; i < opts.length; i++){
            s32 tw = getTextWH(18, opts[i][0])[0];
            dw += tw + 20;
        }
        if(dw > 1280) dw = 1280;
        let icm = 30;
        let elemh = 60;
        let tdw = getTextWH(20, content)[0] + 90;
        if(tdw > dw) dw = tdw;
        tdw = getTextWH(30, title)[0] + 90;
        if(tdw > dw) dw = tdw;
        let ely = getTextWH(20, content)[1] + getTextWH(30, title)[1] + 140;
        if(icon){
          await new Promise(function(resolve, reject) {
            let img = new Image();
            img.onload = () => {
              let tely = img.height + icm + 25;
              if(tely > ely) ely = tely;
              tdw = getTextWH(20, content)[0] + 90 + img.width + 20;
              if(tdw > dw) dw = tdw;
              tdw = getTextWH(30, title)[0] + 90 + img.width + 20;
              if(tdw > dw) dw = tdw;
              resolve();
            }
            img.src = icon;
          });
        }
        if(dw > 1280) dw = 1280;
        let dh = ely + elemh + 30;
        if(dh > 720) dh = 720;
        let dx = (1280 - dw) / 2;
        let dy = (720 - dh) / 2;
        ely += dy;
        let elemw = ((dw - (20 * (opts.length + 1))) / opts.length);
        let elx = dx + ((dw - ((elemw * opts.length) + (20 * (this->opts.length - 1)))) / 2);
        let r = 35;
        let nr = 180;
        let ng = 180;
        let nb = 200;
        let end = false;
        let initfact = 0;
        let bw = dw;
        let bh = dh;
        let fw = bw - (r * 2);
        let fh = bh - (r * 2);
        let clr = "#e1e1e1";
        html += `<div style="background-color:transparent;width:${bw};height:${bh};position:absolute;top:${dy};left:${dx}"><input type="button" style="outline:none;border:none;width:${bw};height:${bh};position:absolute;top:0;left:0;border-radius:${r};background-color:${color}" disabled/></div>`
      };
    %>
    <%-
      html
    %>
</div>
