@font-face {
    font-family: 'Default';
    font-style: normal;
    src: url('./ulaunch/romFs/default/ui/Font.ttf');
}

input {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* width */
::-webkit-scrollbar {
  width: <%- getWidth(20) %>px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #6e6e6e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #505050;
}

p {
  user-select:none;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  position:absolute;
  top: <%- getHeight(125) %>;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%);
  width: <%- getWidth(1100) %>;
  height: <%- getHeight(10) %>;
  background: #a1a1a1;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: <%- getHeight(10) %>px;
  width: <%- getWidth(15) %>px;
  height: <%- getHeight(45) %>px;
  background: #b1b1b1;
  cursor: pointer;
}

.r {
  -webkit-appearance: none;
  appearance: none;
  position:absolute;
  top: <%- getHeight(125) %>;
  left: 47%;
  transform: translate(-53%);
  border-radius: 10px;
  width: <%- getWidth(600) %>;
  height: <%- getHeight(20) %>;
  background: #a1a1a1;
  outline: none;
}

.r::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: <%- getHeight(10) %>px;
  width: <%- getWidth(40) %>px;
  height: <%- getHeight(40) %>px;
  background: #e1e1e1;
  cursor: pointer;
}

.g {
  -webkit-appearance: none;
  appearance: none;
  position:absolute;
  top: <%- getHeight(175) %>;
  left: 47%;
  transform: translate(-53%);
  border-radius: 10px;
  width: <%- getWidth(600) %>;
  height: <%- getHeight(20) %>;
  background: #a1a1a1;
  outline: none;
}

.g::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: <%- getHeight(10) %>px;
  width: <%- getWidth(40) %>px;
  height: <%- getHeight(40) %>px;
  background: #e1e1e1;
  cursor: pointer;
}

.b {
  -webkit-appearance: none;
  appearance: none;
  position:absolute;
  top: <%- getHeight(225) %>;
  left: 47%;
  transform: translate(-53%);
  border-radius: 10px;
  width: <%- getWidth(600) %>;
  height: <%- getHeight(20) %>;
  background: #a1a1a1;
  outline: none;
}

.b::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: <%- getHeight(10) %>px;
  width: <%- getWidth(40) %>px;
  height: <%- getHeight(40) %>px;
  background: #e1e1e1;
  cursor: pointer;
}

.a {
  -webkit-appearance: none;
  appearance: none;
  position:absolute;
  top: <%- getHeight(275) %>;
  left: 47%;
  transform: translate(-53%);
  border-radius: 10px;
  width: <%- getWidth(600) %>;
  height: <%- getHeight(20) %>;
  background: #a1a1a1;
  outline: none;
}

.a::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: <%- getHeight(10) %>px;
  width: <%- getWidth(40) %>px;
  height: <%- getHeight(40) %>px;
  background: #e1e1e1;
  cursor: pointer;
}
